@use "../../variables";

.nav-button {
  display: flex;
  pointer-events: auto;
  flex-direction: row;
  text-align: left;
  align-items: flex-start;
  position: relative;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 100%;

  flex-grow: 1;

  :hover {
    // color: rgba(variables.$primary, 0.9);
    // fill: rgba(variables.$primary, 0.9);
    border-radius: 24px;
    background-color: rgba(variables.$primary, 0.2);
  }

  div {
    display: flex;
    width: 100%;
    flex-direction: row;
  }

  svg {
    display: flex;
    width: 3rem;
    pointer-events: none;
  }

  span {
    display: flex;
    font-size: 24px;
    width: 100%;
    pointer-events: none;
  }
}
