@use "../../variables";
@use "nav-button";

.sidebar {
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-align: start;

  align-items: flex-start;
  flex-basis: auto;
  flex-shrink: 0;
  flex-direction: column;
}
